@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root{
    --Dark-Blue: hsl(240, 38%, 20%);
    --Graysh-Blue: hsl(240, 18%, 77%);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    
}

html, body{
    height: 100%;
    width: 100%;
    /* background-color: rosybrown; */
    overflow: hidden;
}

button,button:focus {
    border: none;
    outline: none;
    cursor: pointer;
}

.mainContainer{
    height: 100%;
    background-image: url('./images/pattern-bg.svg'),url('/images/pattern-curve.svg');
    background-repeat: no-repeat;
    background-position: right 10% center,left -5% bottom;
    background-size: 50% 85%, 45% 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer{
    position: relative;
    /* overflow: hidden; */
    width: 80%;
    height: 70%;
    /* background-color: rgba(0, 0, 0, 0.173); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textContainer{
    width: 67%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 32px;
    padding: 30px;
    padding-left: 0px;
    background-image: url('./images/pattern-quotes.svg');
    background-repeat: no-repeat;
    background-position:15% 10%;
}

.author{
    padding-top: 30px;
    font-size: 20px;
    color:var(--Graysh-Blue);
}
.authorName{
    color:var(--Dark-Blue);
    font-weight: 700;
}

.imageContainer{
    position: absolute;
    border-radius: 10px;
    right: 0;
    max-width: 50%;
    height: 100%;
    /* overflow: hidden; */
    display: flex;
    z-index: 0;
    -webkit-box-shadow: 15px 17px 70px -1px rgba(0,0,0,0.31);
    -moz-box-shadow: 15px 17px 70px -1px rgba(0,0,0,0.31);
    box-shadow: 15px 17px 70px -1px rgba(0,0,0,0.31);
}

.imageContainer img{
    height: 100%;
}

.buttonContainer{
    position: absolute;
    z-index: 3;
    bottom: -3.5%;
    overflow: hidden;
    left: 60%;
    width: 100px;
    height: 8%;
    border-radius: 22px;
    background-color: white;
    display: flex;
    justify-content: center;
    
}
.buttonContainer > button{
    flex-basis: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.buttonContainer img{
    height: 20px;
}
.attribution { 
    position: fixed;
    bottom: 10px;
    font-size: 11px; 
    text-align: center;
    width: 100%;
}
.attribution a { color: hsl(228, 45%, 44%); }

img{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
        -ms-user-select: none; 
        user-select: none; 
    }
    
@media only screen and (max-width:750px){
    .textContainer{
        font-size: 27px;
    }
    .imageContainer{
        max-width: 60%;
    }
}
@media only screen and (max-width:550px){
    .cardContainer{
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
        padding: 10%;
    }
    .imageContainer{
        position: relative;
        max-width: 80%;
        max-height: 50%;
        overflow: hidden;
    }
    .imageContainer img{
        width:100%;
    }
    .textContainer{
        max-height: 50%;
        width: 100%;
        font-size: 19px;
        padding: 0;
        text-align: center;
        background-position:center 10%;
        background-size:20%;
    }
    .quote{
        overflow: hidden;
    }
    .author{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        padding-top: 15px;
    }
    .mainContainer{
        height: 100%;
        background-position: right 50% top 3%,left -5% bottom;
        background-size: 80% 50%, 80% 12%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .buttonContainer{
        top: 46.5%;
        height: 7%;
        width: 25%;
        left: 40%;
        right: 0;
        bottom: 0%;
    }
}